
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>
        Producto
    </legend>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://download.seaicons.com/icons/icons8/windows-8/512/Files-View-File-icon.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Ver</h3>
                    <p>Ver Productos</p>
                    <p><a href="~/Producto/See" class="btn btn-primary" role="button">Ver </a> </p>
                </div>

            </div>
            </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://pngimage.net/wp-content/uploads/2018/05/agregar-icono-png-3.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Agregar</h3>
                    <p>Crear Producto</p>
                    <p><a href="~/Producto/New" class="btn btn-success" role="button">Agregar</a> </p>
                </div>

            </div>

        </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://image.flaticon.com/icons/png/512/104/104668.png" alt="..." height="200" width="200">
                    <div class="caption">
                        <h3>Editar</h3>
                        <p>Editar Producto</p>
                        <p><a href="#" class="btn btn-warning" role="button">Editar</a> </p>
                    </div>

                </div>

            </div>

        </div>
        
</fieldset>

