
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>
        Transacción
    </legend>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/1828/1828395.svg" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Entrada</h3>
                    <p>Gestion de Entrada</p>
                    <p><a href="~/Transaccion/Entrada" class="btn btn-success" role="button">Crear </a> <a href="~/Transaccion/DetalleEntradas" class="btn btn-default" role="button">Detalle </a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/svg/1828/1828479.svg" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Salida</h3>
                    <p>Gestion de Salida</p>
                    <p><a href="~/Transaccion/Salida" class="btn btn-warning" role="button">Crear </a> <a href="~/Transaccion/DetalleSalidas" class="btn btn-default" role="button">Detalle </a></p>
                </div>
            </div>
        </div>
    </div>
</fieldset>

