
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>
        Inventario
    </legend>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://www.logistun.es/wp-content/uploads/2014/08/icono-almacen.jpg" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Bodega</h3>
                    <p>Gestion de Bodega</p>
                    <p><a href="~/Bodega/Index" class="btn btn-info" role="button">Detalles </a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://images.vexels.com/media/users/3/153954/isolated/lists/8b73eeb1c7543888ee9e3bdbf3d81f65-el-tiempo-es-icono-de-dinero.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Costos</h3>
                    <p>Gestion de Costos</p>
                    <p><a href="~/Costos/Index" class="btn btn-success" role="button">Detalles</a> </p>
                </div>

            </div>

        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/png/512/16/16109.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Transaccion</h3>
                    <p>Transacciones por Bodega</p>
                    <p><a href="~/Transaccion/Index" class="btn btn-warning" role="button">Detalles</a> </p>
                </div>

            </div>

        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://image.flaticon.com/icons/png/512/107/107796.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Transferencia</h3>
                    <p>Transferencia entre bodegas</p>
                    <p><a href="~/Producto/New" class="btn btn-primary" role="button">Agregar</a> </p>
                </div>

            </div>

        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://www.censep.com.co/wp-content/uploads/2018/06/data-entry.png" alt="..." height="200" width="200">
                <div class="caption">
                    <h3>Informe</h3>
                    <p>Generar informes</p>
                    <p><a href="~/Producto/New" class="btn btn-default" role="button">Agregar</a> </p>
                </div>

            </div>

        </div>
    </div>
</fieldset>

